<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listDEBUG/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true" scanPeriod="60 seconds">
    <property name="APP" value="starwifi-web"/>
    <property name="LOG_HOME" value="${loggingRoot}"/>
    <property name="LOG_LEVEL" value="${loggingLevel}"/>
    <!-- 输出到控制台  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
        </encoder>
    </appender>
    <!-- 输出到日志文件  -->
    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_default.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_default.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [公共Appender] 汇总错误 -->
    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP}_error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_error.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [应用Appender] controller层详细日志 -->
    <appender name="CONTROLLER-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_controller.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_controller.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [应用Appender] biz层详细日志 -->
    <appender name="BIZ-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_biz.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_biz.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [公共Appender] 数据访问层 -->
    <appender name="DAL-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_dal.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_common_dal.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [应用Appender] 系统DAL层摘要日志 -->
    <appender name="DAL-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_dal_digest.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_dal_digest.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [应用Appender] 系统BIZ层摘要日志 -->
    <appender name="BIZ-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_biz_digest.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_biz_digest.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- [应用Appender] 系统BIZ层摘要日志 -->
    <appender name="CONTROLLER-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${LOG_HOME}/${APP}_controller_digest.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_biz_digest.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- ============================================================== -->
    <!-- [三方库&框架Logger] -->
    <!-- ============================================================== -->
    <logger name="dao" level="DEBUG">
		<appender-ref ref="DAL-APPENDER"/>
	</logger>
    <!-- [框架Logger] 数据访问层 - Ibatis -->
    <logger name="org.mybatis" additivity="true">
        <level value="${LOG_LEVEL}"/>
        <appender-ref ref="DAL-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>
    <!-- [框架Logger] 数据访问层 - SQL -->
    <logger name="java.sql" additivity="true">
        <level value="${LOG_LEVEL}"/>
        <appender-ref ref="DAL-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="org.mybatis.spring" additivity="true">
        <level value="${LOG_LEVEL}"/>
        <appender-ref ref="DAL-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <!-- ============================================================== -->
    <!-- 业务 logger -->
    <!-- ============================================================== -->
    <!-- [业务Logger] 业务性能日志 -->
    <logger name="TREEBEAR_BIZ_DIGEST" additivity="false">
        <level value="INFO" />
        <appender-ref ref="BIZ-DIGEST-APPENDER" />
        <appender-ref ref="ERROR-APPENDER" />
    </logger>

    <!-- [业务Logger] dao性能日志 -->
    <logger name="TREEBEAR_DAL_DIGEST" additivity="false">
        <level value="INFO" />
        <appender-ref ref="DAL-DIGEST-APPENDER" />
        <appender-ref ref="ERROR-APPENDER" />
    </logger>

    <!-- [业务Logger] 控制层性能日志 -->
    <logger name="TREEBEAR_CONTROLLER_DIGEST" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONTROLLER-DIGEST-APPENDER" />
        <appender-ref ref="ERROR-APPENDER" />
    </logger>

    <!-- [应用Logger] 业务层日志 -->
    <logger name="com.treebear.starwifi.biz" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="BIZ-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <!-- [应用Logger] WEB层业务日志 -->
    <logger name="com.treebear.starwifi.web.controller" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONTROLLER-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <!-- ============================================================== -->
    <!-- Root logger -->
    <!-- ============================================================== -->
    <root level="INFO">
        <appender-ref ref="DEFAULT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </root>
    <logger name="org.springframework" level="WARN"/>

</configuration>
